@use './variables' as *;

#mainHome {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0;
  #contentContainer {
    margin: 1rem 3rem;
    max-width: 1400px;
    #overview {
      padding: 0.8em;
      max-width: 800px;
      margin: 0 auto;
      background-color: rgba(0, 0, 0, 0.8);
      @include desktop {
        display: flex;
        margin: 1em auto;
      }
      h2 {
        position: relative;
        bottom: 1rem;
        right: 1rem;
        color: $accent-light;
        font-size: 2rem;
        font-weight: 600;
        @include tablet {
          font-size: 2.5rem;
        }
        @include desktop {
          font-size: 2.7rem;
          font-weight: 700;
        }
      }
      #resumeLink {
        height: 100%;
        width: 65%;
        margin-right: 2rem;
        color: $accent-light;
      }
      #downloadLink {
        text-align: right;
      }
      .fa-download {
        color: peru;
        &:hover {
          color: orangered;
        }
      }
      p {
        color: $light;
        font-size: 1.6rem;
        line-height: 1.2em;
        text-align: right;
        @include tablet {
          font-size: 2rem;
        }
        @include desktop {
          font-size: 2.3rem;
        }
      }
    }
    #workPanel {
      text-align: right;
      #workCards {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        .work-card {
          margin: 0.5em;
          padding: 0.5em;
          background-color: rgba(0, 0, 0, 0.4);
          text-align: left;
          transition: ease-in-out 0.5s;
          &:hover {
            margin: 0.4em;
            padding: 0.6em;
            background-color: rgba(0, 0, 0, 0.6);
            h3 {
              border-bottom: 0.2em solid $accent-light;
            }
          }
          @include mobile {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.6);
          }
          @include tablet {
            flex: 1 0 30%;
            margin: 1%;
          }
          @include desktop {
            flex: 1 0 20%;
            margin: 1%;
          }
          h3 {
            color: $light;
            border-bottom: 0.2em solid $accent;
            font-size: 1.6rem;
            line-height: 1.2em;
            transition: ease-in-out 0.2s;
            @include tablet {
              font-size: 2.2rem;
            }
            @include desktop {
              font-size: 2.4rem;
            }
          }
          p {
            color: $light;
            margin: 1em auto;
            font-size: 1.4rem;
            line-height: 1.2em;
            @include tablet {
              font-size: 2rem;
            }
            @include desktop {
              font-size: 2.2rem;
            }
          }
          #aboutList {
            text-align: left;
          }
          ul {
            padding-top: 1rem;
            text-align: right;
            font-size: 1.4rem;
            line-height: 1.2em;
            @include tablet {
              font-size: 2rem;
            }
            @include desktop {
              font-size: 2.2rem;
            }
            li {
              font-size: inherit;
              line-height: inherit;
              text-align: inherit;
              color: $accent;
              a {
                font-size: inherit;
                line-height: inherit;
                color: inherit;
              }
            }
          }
          #workButton {
            //
            display: none;
            //
            position: relative;
            left: 0.5rem;
            bottom: 4rem;
            padding: 0.3em;
            background-color: $accent;
            border-radius: 0.7em;
            transition: ease-in-out 0.3s;
            color: $light;
            &:hover {
              background-color: $light;
              color: $accent;
            }
            // box-shadow: 16px 16px 32px #04365d, -16px -16px 32px #0ed2ff;
            h4 {
              padding: 0.2em;
              font-size: 1.4rem;
              font-weight: 700;
              color: inherit;
              a {
                color: inherit;
              }
            }
          }
        }
      }
    }
  }
}
