@use './variables' as *;

#mainHome {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  min-height: calc(92vh - 5rem);
  @include desktop {
    margin-bottom: 0;
  }
  #contentContainer {
    margin: 1rem;
    @include desktop {
      margin: 0 4.5rem;
    }
    #overview {
      grid-area: overview;
      margin-bottom: 0.6em;
      background-color: rgba(0, 0, 0, 0.8);
      @include desktop {
        display: flex;
        padding: 1em;
        margin: 1em auto;
        width: calc(100% - 2em);
      }
      h2 {
        text-align: center;
        line-height: 8vh;
        color: $accent-light;
        font-size: 2rem;
        font-weight: 600;
        @include tablet {
          font-size: 2.5rem;
        }
        @include desktop {
          width: 100%;
          font-size: 2.7rem;
          font-weight: 700;
          line-height: 5vh;
        }
      }
      #resumeLink {
        height: 100%;
        width: 65%;
        margin-right: 2rem;
        color: $accent-light;
      }
      #downloadLink {
        text-align: right;
      }
      .fa-download {
        color: peru;
        &:hover {
          color: orangered;
        }
      }
      p {
        color: $light;
        font-size: 1.6rem;
        line-height: 1.2em;
        text-align: right;
        @include tablet {
          font-size: 2rem;
        }
        @include desktop {
          font-size: 2.3rem;
        }
      }
    }
    #workContainer {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 10vh auto;
      grid-template-areas: "overview" "buttons";
      @include desktop {
        grid-template-rows: 20vh auto;
        grid-template-columns: 1fr 4.5rem 2fr;
        grid-template-areas: "overview . viewer" "buttons . viewer";
      }
    }
  }
}
