@use './variables' as *;

#footer {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  //
  @include desktop {
    position: fixed;
    display: block;
    width: 6rem;
  }
  #socialMediaLinks {
    display: flex;
    height: 100%;
    width: 100%;
    align-content: space-around;
    @include desktop {
      display: block;
    }
    li {
      margin: 0 auto;
      transition: ease-in-out 0.3s;
      color: $accent;
      &:hover {
        background-color: $accent;
        color: $light;
      }
      a {
        line-height: 6vh;
        text-align: center;
        color: inherit;
        @include desktop {
          display: block;
          width: 100%;
        }
        i {
          color: inherit;
        }
      }
    }
  }
}
