@use './variables.scss' as *;

#header {
  display: inline-flex;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  #logo {
    width: 25%;
    padding: 0 1rem;
    line-height: 8vh;
    color: $accent;
    font-size: 3.5rem;
    transition: ease-in-out 0.3s;
    @include mobile {
      font-size: 7vw;
      line-height: 7vw;
    }
    &:hover {
      color: #00b894;
      span {
        color: $accent-light;
      }
    }
    span {
      color: $accent;
    }
  }
}
