@use './variables.scss' as *;

#header {
  display: inline-flex;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 15;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  #logo {
    width: 25%;
    padding: 0 1rem;
    line-height: 8vh;
    color: $accent;
    font-size: 3.5rem;
    transition: ease-in-out 0.3s;
    @include mobile {
      font-size: 7vw;
      line-height: 7vw;
    }
    &:hover {
      animation: color-change 3s linear infinite;
      span {
        color: inherit;
      }
    }
  }
}
@keyframes color-change {
  0% {
    color: $accent;
  }
  33% {
    color: $accent-off;
  }
  66% {
    color: #1dd1a1;
  }
  100% {
    color: $accent;
  }
}
