@use './variables.scss' as *;

#header {
  display: inline-flex;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  #logo {
    width: 25%;
    padding: 0 1rem;
    line-height: 8vh;
    background-image: radial-gradient($accent-light, $accent);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
