@use './variables' as *;

#navList {
  display: flex;
  width: 75%;
  justify-content: space-around;
  line-height: 8vh;
  .nav-items {
    width: 100%;
    text-align: center;
    transition: ease-in-out 0.4s;
    &:hover {
      background: $accent;
    }
    i {
      background-image: radial-gradient($accent-light, $accent);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      @include tablet {
        display: none;
      }
      @include desktop {
        display: none;
      }
    }
    .nav-links-text {
      font-size: 2rem;
      color: $accent;
      display: none;
      transition: ease-in-out 0.6s;
      &:hover {
        color: $light;
      }
      @include tablet {
        display: block;
        font-size: 2.5rem;
      }
      @include desktop {
        display: block;
        font-size: 3rem;
      }
    }
  }
}
