@use './variables' as *;

#navList {
  display: flex;
  width: 75%;
  justify-content: space-around;
  line-height: 8vh;
  .nav-items {
    width: 100%;
    text-align: center;
    transition: ease-in-out 0.5s;
    &:hover {
      background: $accent;
    }
    a {
      @include mobile {
        display: block;
        height: 100%;
        width: 100%;
        background-image: radial-gradient($accent-light, $accent);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:hover {
          background-image: radial-gradient($light, $accent-light);
        }
      }
      i {
        background-image: inherit;
        background-clip: text;
        -webkit-background-clip: text;
        @include tablet {
          display: none;
        }
        @include desktop {
          display: none;
        }
      }
      .nav-links-text {
        font-size: 2rem;
        color: $accent;
        display: none;
        transition: ease-in-out 0.5s;
        &:hover {
          color: $light;
        }
        @include tablet {
          display: block;
          font-size: 2.5rem;
        }
        @include desktop {
          display: block;
          font-size: 3rem;
        }
      }
    }
  }
}
