@use './variables' as *;

#nav {
  grid-area: nav;
  position: relative;
  background-color: $dark;
  #navList {
    display: flex;
    justify-content: space-around;
    line-height: 8vh;
    .nav-items {
      i {
        background-image: radial-gradient($accent-light, $accent);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      #navButton {
        background-color: black;
        border: $dark-off;
        background-image: radial-gradient($accent-light, $accent);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .nav-links-text {
        display: none;
      }
    }
  }
}
