@use './index' as *;

html {
  font-size: 62.5%;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
#container {
  display: grid;
  grid-template-areas:
    "header nav"
    "main main";
  grid-template-rows: 8vh 92vh;
  font-size: 3rem;
}
