@use './index' as *;
@use './variables' as *;

html {
  font-size: 62.5%;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
#container {
  display: grid;
  grid-template-areas:
    "header nav"
    "main main"
    "footer footer";
  grid-template-rows: 8vh 86vh 6vh;
  font-size: 3rem;
  @include desktop {
    grid-template-areas:
      "header nav"
      "main main"
      "footer main";
  }
}
