$dark: #2d3436;
$dark-transp: rgba(45, 52, 54, 0.8);
$dark-off: #636e72;
$light: #b2bec3;
$accent: #0984e3;
$accent-light: #74b9ff;
$aqua: #1dd1a1;
$accent-off: #5f27cd;
$accent-off-light: rgba(95, 39, 205, 0.9);
$fade: linear-gradient(90deg, #1dd1a1, #0984e3, #5f27cd);
