@use './../variables' as *;

#workDisplay {
  grid-area: viewer;
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 16;
  transition: ease 0.3s;
  @include desktop {
    display: block;
    position: sticky;
    width: 100%;
    height: 84vh;
    top: 12vh;
    margin: 4vh auto;
  }
  #workDisplayContent {
    position: fixed;
    display: grid;
    grid-template-areas:
      ". top exit"
      "left middle right"
      ". . .";
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 6vh 90vh 4vh;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-items: center;
    align-items: center;
    @include tablet {
      grid-template-columns: 1fr 14fr 1fr;
    }
    @include desktop {
      position: relative;
      grid-template-areas:
        "left top right"
        "middle middle middle"
        ". . .";
      grid-template-columns: 1fr 20fr 1fr;
      grid-template-rows: 1fr 13fr 1fr;
      background: none;
    }
    .workDisplay-grid-items {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      z-index: 5;
    }
    #workDisplayTop {
      background: rgba(0, 0, 0, 0.9);
      grid-area: top;
      .svg-injectable {
        font-size: 3rem;
        padding: 0.2em;
        transition: 0.3s ease;
        &:hover {
          background: $accent;
        }
      }
      .language-highlight {
        animation: blink-color 2s linear infinite;
      }
    }
    #workDisplayExit {
      grid-area: exit;
      @include desktop {
        display: none;
      }
      &:hover {
        i {
          transition: ease 0.3s;
          background: rgba(129, 236, 236, 0.6);
          box-shadow: 0 0 1rem 0.4rem rgba(129, 236, 236, 0.8);
        }
      }
    }
    #workDisplayLeft {
      background: rgba(0, 0, 0, 0.9);
      grid-area: left;
      &:hover {
        i {
          transition: ease 0.3s;
          background: rgba(129, 236, 236, 0.6);
          box-shadow: 0 0 1rem 0.4rem rgba(129, 236, 236, 0.8);
        }
      }
    }
    #workDisplayMiddle {
      grid-area: middle;
      display: grid;
      grid-template-rows: 1fr 19fr;
      grid-template-columns: 1fr;
      grid-template-areas: "select" "code";
      font-size: 2.5vw;
      line-height: 1.2em;
      background: rgba(10, 10, 10, 1);
      justify-items: center;
      z-index: 21;
      @include tablet {
        font-size: 2rem;
        line-height: 1.2em;
      }
      @include desktop {
        grid-template-rows: 5rem 70vh 2rem;
        font-size: 2rem;
        line-height: 1.2em;
      }
      #fileSelect {
        grid-area: select;
        width: 95%;
        height: 1.5em;
        background: $fade;
        background-size: 500%;
        animation: background-move 5s linear infinite;
        color: white;
        fill: white;
        border: solid 3px rgba(10, 10, 10, 1);
        border-radius: 0.2em;
        font-size: 1.8rem;
        line-height: 1.5em;
        optgroup {
          font-size: inherit;
          background: rgba(40, 40, 40, 1);
          option {
            background: rgba(20, 20, 20, 1);
          }
        }
      }
      pre {
        grid-area: code;
        width: 95%;
        height: 100%;
        overflow-y: scroll;
        background: rgba(20, 20, 20, 0.9);
        font-size: 1rem;
        line-height: 1.5em;
        @include desktop {
          font-size: 1.4rem;
        }
        code {
          font-size: inherit;
          line-height: inherit;
          overflow-wrap: break-word;
        }
        #noticeLeft {
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          font-family: arial;
          color: $accent-off;
          @include desktop {
            font-size: 3rem;
            font-weight: 600;
          }
        }
        #noticeAbove {
          text-align: center;
          font-size: 2rem;
          font-family: arial;
          font-weight: 400;
          color: $accent-off;
          display: none;
          @include desktop {
            font-size: 3rem;
            font-weight: 600;
          }
        }
      }
    }
    #workDisplayRight {
      grid-area: right;
      background: rgba(0, 0, 0, 0.9);
      &:hover {
        i {
          transition: ease 0.3s;
          background: rgba(129, 236, 236, 0.6);
          box-shadow: 0 0 1rem 0.4rem rgba(129, 236, 236, 0.8);
        }
      }
    }
    #workDisplayBottom {
      background: rgba(0, 0, 0, 0.9);
      @include desktop {
        display: none;
      }
    }
  }
}

@include background-move;
@include blink-fill;
@include blink-color;
