@use './../variables' as *;

#workSelect {
  grid-area: buttons;
  margin-bottom: 6vh;
  #current {
    background: $fade;
    background-size: 200%;
    animation: background-move 5s linear infinite;
    color: white;
    fill: white;
    .angle-down {
      transform: rotate(180deg);
      animation: none;
    }
  }
  .work-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(20, 20, 20, 0.9);
    border: 0.1rem solid rgba(20, 20, 20, 0.9);
    margin: 0.3rem 0;
    cursor: pointer;
    color: $dark-off;
    fill: $dark-off;
    font-size: 2rem;
    .angle-down {
      animation: blink 2s linear infinite;
    }
    .work-button-title::first-letter {
      text-transform: capitalize;
    }
    .language-icons {
      display: flex;
      font-size: inherit;
      color: inherit;
      fill: inherit;
      svg {
        margin: 0 0.2em;
        height: 1em;
        width: 1em;
        font-size: inherit;
        fill: inherit;
      }
    }
    .fa-angle-down {
      font-size: 3rem;
      justify-self: right;
    }
  }
  .work-panel {
    // display: none;
    margin-top: -0.2em;
    padding: 0 0.5em;
    background: rgba(20, 20, 20, 0.9);
    color: $light;
    font-size: 1.4rem;
    line-height: 1.8em;
    overflow: hidden;
    max-height: 0;
    transition: max-height ease-in-out 1s;
    ol {
      list-style: disc;
      padding-left: 1em;
      font-size: inherit;
      line-height: inherit;
    }
    p {
      padding-top: 1em;
      font-size: inherit;
      line-height: inherit;
    }
    span {
      float: right;
      .blink {
        animation: blink 2s linear infinite;
        @include desktop {
          display: none;
        }
      }
      svg {
        font-size: 4rem;
        padding: 0.2em;
        fill: $light;
        color: $light;
        cursor: pointer;
      }
    }
  }
}

@keyframes blink {
  0% {
    fill: $accent-off;
  }
  33% {
    fill: $accent;
  }
  66% {
    fill: $aqua;
  }
  100% {
    fill: $accent-off;
  }
}
@keyframes background-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
