#header {
  display: inline-flex;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 15;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}
#header #logo {
  width: 25%;
  padding: 0 1rem;
  line-height: 8vh;
  color: #0984e3;
  font-size: 3.5rem;
  transition: ease-in-out 0.3s;
}
@media (max-width: 768px) {
  #header #logo {
    font-size: 7vw;
    line-height: 7vw;
  }
}
#header #logo:hover {
  animation: color-change 3s linear infinite;
}
#header #logo:hover span {
  color: inherit;
}

@keyframes color-change {
  0% {
    color: #0984e3;
  }
  33% {
    color: #5f27cd;
  }
  66% {
    color: #1dd1a1;
  }
  100% {
    color: #0984e3;
  }
}
#navList {
  display: flex;
  width: 75%;
  justify-content: space-around;
  line-height: 8vh;
}
#navList .nav-items {
  width: 100%;
  text-align: center;
  transition: ease-in-out 0.5s;
}
#navList .nav-items:hover {
  background: #0984e3;
}
@media (max-width: 768px) {
  #navList .nav-items a {
    display: block;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(#74b9ff, #0984e3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #navList .nav-items a:hover {
    background-image: radial-gradient(#b2bec3, #74b9ff);
  }
}
#navList .nav-items a i {
  background-image: inherit;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #navList .nav-items a i {
    display: none;
  }
}
@media (min-width: 1024px) {
  #navList .nav-items a i {
    display: none;
  }
}
#navList .nav-items a .nav-links-text {
  font-size: 2rem;
  color: #0984e3;
  display: none;
  transition: ease-in-out 0.5s;
}
#navList .nav-items a .nav-links-text:hover {
  color: #b2bec3;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #navList .nav-items a .nav-links-text {
    display: block;
    font-size: 2.5rem;
  }
}
@media (min-width: 1024px) {
  #navList .nav-items a .nav-links-text {
    display: block;
    font-size: 3rem;
  }
}

#mainHome {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  min-height: calc(92vh - 5rem);
}
@media (min-width: 1024px) {
  #mainHome {
    margin-bottom: 0;
  }
}
#mainHome #contentContainer {
  margin: 1rem;
}
@media (min-width: 1024px) {
  #mainHome #contentContainer {
    margin: 0 4.5rem;
  }
}
#mainHome #contentContainer #overview {
  grid-area: overview;
  margin-bottom: 0.6em;
  background-color: rgba(0, 0, 0, 0.8);
}
@media (min-width: 1024px) {
  #mainHome #contentContainer #overview {
    display: flex;
    padding: 1em;
    margin: 1em auto;
    width: calc(100% - 2em);
  }
}
#mainHome #contentContainer #overview h2 {
  text-align: center;
  line-height: 8vh;
  color: #74b9ff;
  font-size: 2rem;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #mainHome #contentContainer #overview h2 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1024px) {
  #mainHome #contentContainer #overview h2 {
    width: 100%;
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 5vh;
  }
}
#mainHome #contentContainer #overview #resumeLink {
  height: 100%;
  width: 65%;
  margin-right: 2rem;
  color: #74b9ff;
}
#mainHome #contentContainer #overview #downloadLink {
  text-align: right;
}
#mainHome #contentContainer #overview .fa-download {
  color: peru;
}
#mainHome #contentContainer #overview .fa-download:hover {
  color: orangered;
}
#mainHome #contentContainer #overview p {
  color: #b2bec3;
  font-size: 1.6rem;
  line-height: 1.2em;
  text-align: right;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #mainHome #contentContainer #overview p {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  #mainHome #contentContainer #overview p {
    font-size: 2.3rem;
  }
}
#mainHome #contentContainer #workContainer {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh auto;
  grid-template-areas: "overview" "buttons";
}
@media (min-width: 1024px) {
  #mainHome #contentContainer #workContainer {
    grid-template-rows: 20vh auto;
    grid-template-columns: 1fr 4.5rem 2fr;
    grid-template-areas: "overview . viewer" "buttons . viewer";
  }
}

#footer {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.8);
}
@media (min-width: 1024px) {
  #footer {
    position: fixed;
    display: block;
    width: 4rem;
    margin-bottom: 0.6em;
  }
}
#footer #socialMediaLinks {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}
@media (min-width: 1024px) {
  #footer #socialMediaLinks {
    display: block;
  }
}
#footer #socialMediaLinks li {
  width: 100%;
  height: 100%;
  transition: ease-in-out 0.5s;
  color: #0984e3;
}
#footer #socialMediaLinks li:hover {
  background-color: #0984e3;
  color: #b2bec3;
}
#footer #socialMediaLinks li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 6vh;
  text-align: center;
  color: inherit;
}
@media (min-width: 1024px) {
  #footer #socialMediaLinks li a {
    display: block;
    width: 100%;
  }
}
#footer #socialMediaLinks li a i {
  color: inherit;
}

#contactForm {
  display: grid;
  grid-template-areas: "header header" "input input" "text text" "buttons buttons";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 7fr 3fr;
  width: 86vw;
  min-height: 81vh;
  padding: 1rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), #141414);
}
@media (min-width: 1024px) {
  #contactForm {
    height: 87vh;
    margin-top: 1vh;
    margin-bottom: 0;
    gap: 1rem;
    grid-template-areas: "header text" "input text" "buttons text";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 6fr 10fr;
  }
}
#contactForm #contactTitle {
  grid-area: header;
  font-size: 3rem;
  font-weight: bold;
  color: #0984e3;
  text-decoration: underline;
}
#contactForm #queryInputArea {
  grid-area: input;
}
#contactForm #queryInputArea .input-label {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  line-height: 3.5em;
}
#contactForm #queryInputArea .input-label .input-box {
  width: 90%;
  appearance: none;
  background: none;
  border: none;
  border-bottom: 0.2em solid #74b9ff;
  padding: 0.5em;
  outline: none;
  color: #74b9ff;
  font-size: 1.4rem;
}
#contactForm #queryInputArea .input-label .placeholder {
  position: absolute;
  left: 0;
  top: 1.9em;
  transform: translateY(-80%);
  color: #74b9ff;
  transition: ease-in-out 0.3s;
}
#contactForm #queryInputArea .input-label input:valid,
#contactForm #queryInputArea .input-label input:focus {
  background: rgba(20, 20, 20, 0.8);
}
#contactForm #queryInputArea .input-label input:valid + .placeholder,
#contactForm #queryInputArea .input-label input:focus + .placeholder {
  top: 1em;
  font-size: 12px;
  color: #0984e3;
}
#contactForm #textInputArea {
  grid-area: text;
  width: 100%;
}
#contactForm #textInputArea textarea {
  width: 100%;
  height: 100%;
  outline: none;
  appearance: none;
  border: none;
  background: rgba(20, 20, 20, 0.8);
  border-bottom: 0.2em solid #74b9ff;
  border-radius: 0.3em;
  color: #74b9ff;
  font-size: 1.8rem;
  font-family: Arial;
}
#contactForm #textInputArea textarea::placeholder {
  color: #74b9ff;
  font-size: 2rem;
  font-weight: bold;
}
#contactForm #textInputArea textarea:focus::placeholder {
  color: transparent;
  background: rgba(20, 20, 20, 0.95);
}
#contactForm #buttonInputArea {
  grid-area: buttons;
  color: #74b9ff;
  text-align: center;
  position: relative;
}
#contactForm #buttonInputArea #buttonInputs {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  #contactForm #buttonInputArea #buttonInputs {
    height: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #contactForm #buttonInputArea #buttonInputs {
    height: 100%;
  }
}
@media (min-width: 1024px) {
  #contactForm #buttonInputArea #buttonInputs {
    margin-right: 1rem;
    width: calc(100% - 1rem);
    padding-bottom: 1em;
  }
}
#contactForm #buttonInputArea #buttonInputs input {
  transition: background-image 0.6s ease-in-out;
}
#contactForm #buttonInputArea #buttonInputs #submitButtons {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-evenly;
}
#contactForm #buttonInputArea #buttonInputs #submitButtons .form-button {
  width: 40%;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #contactForm #buttonInputArea #buttonInputs #submitButtons .form-button {
    width: 30%;
  }
}
#contactForm #buttonInputArea #buttonInputs #submitButtons #submitButton {
  color: rgba(0, 206, 201, 0.9);
  background: #2d3436;
  font-weight: 600;
  transition: ease 0.4s;
  box-shadow: 0px 0px 8px 8px rgba(0, 206, 201, 0.6);
}
#contactForm #buttonInputArea #buttonInputs #submitButtons #submitButton:hover {
  box-shadow: 0px 0px 12px 12px rgba(0, 206, 201, 0.8);
}
#contactForm #buttonInputArea #buttonInputs #submitButtons #resetButton {
  color: rgba(255, 40, 60, 0.7);
  font-weight: 600;
  background: #2d3436;
  transition: ease 0.4s;
  box-shadow: 0px 0px 8px 8px rgba(255, 40, 60, 0.6);
}
#contactForm #buttonInputArea #buttonInputs #submitButtons #resetButton:hover {
  box-shadow: 0px 0px 12px 12px rgba(255, 40, 60, 0.8);
}
#contactForm #buttonInputArea #buttonInputs .button-text {
  grid-area: response;
  font-size: 1.6rem;
  line-height: 1.2em;
}

#formMessageCover {
  display: none;
  position: absolute;
  z-index: 16;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#formMessageCover .border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}
#formMessageCover .border-gradient-purple {
  border-image-source: linear-gradient(135deg, #1dd1a1, #74b9ff, #5f27cd);
}
#formMessageCover #formMessageOutput {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: " message message message " ".  button .";
  position: absolute;
  color: red;
  top: 42vh;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0.6em;
  text-align: center;
  width: 80vw;
  height: 16vh;
  background: #2d3436;
  font-size: 1.8rem;
}
@media (min-width: 1024px) {
  #formMessageCover #formMessageOutput {
    width: 40vw;
  }
}
#formMessageCover #formMessageOutput #formMessageText {
  grid-area: message;
  color: #b2bec3;
}
#formMessageCover #formMessageOutput #formMessageButton {
  grid-area: button;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  color: rgba(0, 206, 201, 0.9);
  background: #2d3436;
  font-weight: 600;
  transition: ease 0.4s;
  box-shadow: 0px 0px 8px 8px rgba(0, 206, 201, 0.6);
}
#formMessageCover #formMessageOutput #formMessageButton:hover {
  box-shadow: 0px 0px 12px 12px rgba(0, 206, 201, 0.8);
}

#workCards {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  text-align: right;
}
#workCards .work-card {
  display: grid;
  grid-template-areas: "header links" "description description" "list list";
  grid-template-columns: 3fr 2fr;
  position: relative;
  margin: 0.5em auto;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: left;
  transition: ease-in-out 0.3s;
}
#workCards .work-card:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
#workCards .work-card:hover h3 {
  border-bottom: 0.2em solid #74b9ff;
}
#workCards .work-card .work-card-cover {
  grid-area: links;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  transition: ease-in-out 0.3s;
  z-index: 10;
}
#workCards .work-card .work-card-cover a {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  transition: inherit;
}
#workCards .work-card .work-card-cover a:hover {
  background: rgba(0, 0, 0, 0.8);
}
#workCards .work-card .work-card-cover a i {
  display: block;
  margin: 0.2rem;
  color: #0984e3;
  transition: inherit;
}
@media (max-width: 768px) {
  #workCards .work-card {
    width: 100%;
    flex: 1 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #workCards .work-card {
    flex: 1 0 30%;
    margin: 1%;
  }
}
@media (min-width: 1024px) {
  #workCards .work-card {
    flex: 1 0 33%;
    margin: 1%;
  }
}
#workCards .work-card h3 {
  grid-area: header;
  color: #b2bec3;
  padding: 0.3em;
  border-bottom: 0.2em solid #0984e3;
  font-size: 1.6rem;
  line-height: 1.2em;
  transition: ease-in-out 0.2s;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #workCards .work-card h3 {
    font-size: 2.2rem;
  }
}
@media (min-width: 1024px) {
  #workCards .work-card h3 {
    font-size: 2.4rem;
    font-weight: 700;
  }
}
#workCards .work-card p {
  grid-area: description;
  color: #b2bec3;
  margin: 1em auto;
  padding: 0.6em;
  font-size: 1.4rem;
  line-height: 1.2em;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #workCards .work-card p {
    font-size: 1.6rem;
  }
}
@media (min-width: 1024px) {
  #workCards .work-card p {
    font-size: 1.8rem;
  }
}
#workCards .work-card #aboutList {
  text-align: left;
}
#workCards .work-card ul {
  grid-area: list;
  padding: 0.6em;
  text-align: right;
  font-size: 1.4rem;
  line-height: 1.2em;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #workCards .work-card ul {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  #workCards .work-card ul {
    font-size: 2.2rem;
  }
}
#workCards .work-card ul li {
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  color: #0984e3;
}
#workCards .work-card ul li a {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

#workSelect {
  grid-area: buttons;
  margin-bottom: 6vh;
}
#workSelect #current {
  background: linear-gradient(90deg, #1dd1a1, #0984e3, #5f27cd);
  background-size: 200%;
  animation: background-move 5s linear infinite;
  color: white;
  fill: white;
}
#workSelect #current .angle-down {
  transform: rotate(180deg);
  animation: none;
}
#workSelect .work-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(20, 20, 20, 0.9);
  border: 0.1rem solid rgba(20, 20, 20, 0.9);
  margin: 0.3rem 0;
  cursor: pointer;
  color: #636e72;
  fill: #636e72;
  font-size: 2rem;
}
#workSelect .work-button .angle-down {
  animation: blink 2s linear infinite;
}
#workSelect .work-button .work-button-title::first-letter {
  text-transform: capitalize;
}
#workSelect .work-button .language-icons {
  display: flex;
  font-size: inherit;
  color: inherit;
  fill: inherit;
}
#workSelect .work-button .language-icons svg {
  margin: 0 0.2em;
  height: 1em;
  width: 1em;
  font-size: inherit;
  fill: inherit;
}
#workSelect .work-button .fa-angle-down {
  font-size: 3rem;
  justify-self: right;
}
#workSelect .work-panel {
  margin-top: -0.2em;
  padding: 0 0.5em;
  background: rgba(20, 20, 20, 0.9);
  color: #b2bec3;
  font-size: 1.4rem;
  line-height: 1.8em;
  overflow: hidden;
  max-height: 0;
  transition: max-height ease-in-out 1s;
}
#workSelect .work-panel ol {
  list-style: disc;
  padding-left: 1em;
  font-size: inherit;
  line-height: inherit;
}
#workSelect .work-panel p {
  padding-top: 1em;
  font-size: inherit;
  line-height: inherit;
}
#workSelect .work-panel span {
  float: right;
}
#workSelect .work-panel span .blink {
  animation: blink 2s linear infinite;
}
@media (min-width: 1024px) {
  #workSelect .work-panel span .blink {
    display: none;
  }
}
#workSelect .work-panel span svg {
  font-size: 4rem;
  padding: 0.2em;
  fill: #b2bec3;
  color: #b2bec3;
  cursor: pointer;
}

@keyframes blink {
  0% {
    fill: #5f27cd;
  }
  33% {
    fill: #0984e3;
  }
  66% {
    fill: #1dd1a1;
  }
  100% {
    fill: #5f27cd;
  }
}
@keyframes background-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#workDisplay {
  grid-area: viewer;
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 16;
  transition: ease 0.3s;
}
@media (min-width: 1024px) {
  #workDisplay {
    display: block;
    position: sticky;
    width: 100%;
    height: 84vh;
    top: 12vh;
    margin: 4vh auto;
  }
}
#workDisplay #workDisplayContent {
  position: fixed;
  display: grid;
  grid-template-areas: ". top exit" "left middle right" ". . .";
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 6vh 90vh 4vh;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-items: center;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #workDisplay #workDisplayContent {
    grid-template-columns: 1fr 14fr 1fr;
  }
}
@media (min-width: 1024px) {
  #workDisplay #workDisplayContent {
    position: relative;
    grid-template-areas: "left top right" "middle middle middle" ". . .";
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: 1fr 13fr 1fr;
    background: none;
  }
}
#workDisplay #workDisplayContent .workDisplay-grid-items {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 5;
}
#workDisplay #workDisplayContent .workDisplay-grid-items i {
  z-index: -5;
}
#workDisplay #workDisplayContent #workDisplayTop {
  background: rgba(0, 0, 0, 0.9);
  grid-area: top;
}
#workDisplay #workDisplayContent #workDisplayExit {
  grid-area: exit;
}
@media (min-width: 1024px) {
  #workDisplay #workDisplayContent #workDisplayExit {
    display: none;
  }
}
#workDisplay #workDisplayContent #workDisplayExit:hover i {
  transition: ease 0.3s;
  background: rgba(129, 236, 236, 0.6);
  box-shadow: 0 0 1rem 0.4rem rgba(129, 236, 236, 0.8);
}
#workDisplay #workDisplayContent #workDisplayLeft {
  background: rgba(0, 0, 0, 0.9);
  grid-area: left;
}
#workDisplay #workDisplayContent #workDisplayLeft:hover i {
  transition: ease 0.3s;
  background: rgba(129, 236, 236, 0.6);
  box-shadow: 0 0 1rem 0.4rem rgba(129, 236, 236, 0.8);
}
#workDisplay #workDisplayContent #workDisplayMiddle {
  grid-area: middle;
  display: grid;
  grid-template-rows: 1fr 19fr;
  grid-template-columns: 1fr;
  grid-template-areas: "select" "code";
  font-size: 2.5vw;
  line-height: 1.2em;
  background: #0a0a0a;
  justify-items: center;
  z-index: 21;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #workDisplay #workDisplayContent #workDisplayMiddle {
    font-size: 2rem;
    line-height: 1.2em;
  }
}
@media (min-width: 1024px) {
  #workDisplay #workDisplayContent #workDisplayMiddle {
    grid-template-rows: 5rem 70vh 2rem;
    font-size: 2rem;
    line-height: 1.2em;
  }
}
#workDisplay #workDisplayContent #workDisplayMiddle #fileSelect {
  grid-area: select;
  width: 95%;
  height: 1.5em;
  background: rgba(45, 52, 54, 0.8);
  border: solid 3px #0a0a0a;
  border-radius: 0.2em;
  color: #74b9ff;
  font-size: 2.5rem;
  line-height: 1.5em;
}
#workDisplay #workDisplayContent #workDisplayMiddle #fileSelect optgroup {
  font-size: inherit;
  background: #282828;
}
#workDisplay #workDisplayContent #workDisplayMiddle #fileSelect optgroup option {
  background: #141414;
}
#workDisplay #workDisplayContent #workDisplayMiddle pre {
  grid-area: code;
  width: 95%;
  height: 100%;
  overflow-y: scroll;
  background: rgba(20, 20, 20, 0.9);
  font-size: 1.4rem;
  line-height: 1.5em;
}
#workDisplay #workDisplayContent #workDisplayMiddle pre code {
  font-size: inherit;
  line-height: inherit;
  overflow-wrap: break-word;
}
#workDisplay #workDisplayContent #workDisplayMiddle pre #noticeLeft {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  font-family: arial;
  color: #5f27cd;
}
@media (min-width: 1024px) {
  #workDisplay #workDisplayContent #workDisplayMiddle pre #noticeLeft {
    font-size: 3rem;
    font-weight: 600;
  }
}
#workDisplay #workDisplayContent #workDisplayMiddle pre #noticeAbove {
  text-align: center;
  font-size: 2rem;
  font-family: arial;
  font-weight: 400;
  color: #5f27cd;
  display: none;
}
@media (min-width: 1024px) {
  #workDisplay #workDisplayContent #workDisplayMiddle pre #noticeAbove {
    font-size: 3rem;
    font-weight: 600;
  }
}
#workDisplay #workDisplayContent #workDisplayRight {
  grid-area: right;
  background: rgba(0, 0, 0, 0.9);
}
#workDisplay #workDisplayContent #workDisplayRight:hover i {
  transition: ease 0.3s;
  background: rgba(129, 236, 236, 0.6);
  box-shadow: 0 0 1rem 0.4rem rgba(129, 236, 236, 0.8);
}
#workDisplay #workDisplayContent #workDisplayBottom {
  background: rgba(0, 0, 0, 0.9);
}
@media (min-width: 1024px) {
  #workDisplay #workDisplayContent #workDisplayBottom {
    display: none;
  }
}

html {
  font-size: 62.5%;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

html,
body {
  overflow: auto;
}

#container {
  width: 100%;
  min-height: 100vh;
  font-size: 3rem;
  position: absolute;
}
#container #background {
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0%);
  transition: ease-in 3s;
  z-index: -10;
}

/*# sourceMappingURL=style.css.map */
